<!doctype html>
<html>
	<head>
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Buddies' Bistro" %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag  "all" %>
	</head>
	<body class="loading <%= page_classes %>">
    <%= yield %>
  </body>
</html>
